[Unit]
Description=IIPtables Service
After=network.target
[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/iptables/iptables.sh start
ExecStop=/etc/iptables/iptables.sh stop
[Install]
WantedBy=multi-user.target