[Unit]
Description=MkDocs Material Container
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=3
ExecStartPre=docker rm -f mkdocs 2>/dev/null
ExecStart=/usr/bin/docker run --rm --name mkdocs\
  -p 18001:8080\
  -v /data/wiki:/docs\
  squidfunk/mkdocs-material:{{ recoverybox_version_mkdocs_material }}

ExecStop=/usr/bin/docker stop mkdocs

[Install]
WantedBy=multi-user.target