[Unit]
Description=Access Point Service
After=network-online.target systemd-networkd.service
Wants=network-online.target
BindsTo=sys-subsystem-net-devices-wlanAP.device
After=sys-subsystem-net-devices-wlanAP.device

[Service]
Type=simple
User=root
ExecStart=/etc/ap_config/ap_start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target