#!/bin/bash
rfkill unblock wifi

ip link set "{{ interface_lan }}" up

docker rm -f hotspot 2>/dev/null

docker run --rm \
    --net=host \
    --cap-add=NET_ADMIN \
    --cap-add=NET_RAW \
    --privileged \
    -e WLAN_INT="{{ interface_lan }}" \
    -e WLAN_IP="{{ hotspot_conf.ip }}" \
    -e WLAN_MASK="{{ hotspot_conf.mask }}" \
    -v /etc/ap_config/:/etc/conf \
    --name hotspot \
    mrdgidgi/simple-hotspot:"{{ version_simpleHotspot }}"