interface={{ interface_lan }}
dhcp-range={{ hotspot_conf.dhcp_range_start }},{{ hotspot_conf.dhcp_range_end }},24h
dhcp-option=option:router,{{ hotspot_conf.ip }}

### DNS ###
domain=recovery.box
# DNS Locaux (Enregistrements A)
address=/recovery.box/{{ hotspot_conf.ip }}

dhcp-option=option:dns-server,{{ hotspot_conf.ip }}

# meshtastic node reservation
dhcp-host={{ meshtastic_node.mac }},{{ meshtastic_node.ip }}